* {
	font-family: 'Hind Vadodara', sans-serif, "微軟正黑體", Microsoft JhengHei
}
html, body {
	margin: 0px;
	padding: 0px;
}
.board {
	width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
}
a {
	text-decoration: none;
	cursor: pointer;
	padding: 5px 5px;
	margin-right: 10px;
	border: 1px #ca7818 solid;
}
.newpost {
	border: 1px #ca7818 solid;
}
.newpost__form {
	padding: 10px;
}
.newpost__form-content {
	width: 573px;
	height: 150px;
	margin-top: 10px;
}
.newpost__form-submit {
	cursor: pointer;
	padding: 5px 30px;
	background: #eca34c;
	border: none;
}
.posts__post {
	border: 1px #ca7818 solid;
	margin-top: 30px;
	padding: 10px;
}
.posts__postcolor {
	border: 1px #ca7818 solid;
	margin-top: 30px;
	padding: 10px;
}
.posts__header {
	border-bottom: 1px gray solid;
	padding-bottom: 5px;
	margin-bottom: 5px;
	display: inline-flex;
	justify-content: space-between;
	width: 573px;
	font-size: 17px;
}
.posts__contentblock {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}
.posts__content {
	font-size: 15px;
}
.posts__change {
	display: inline-flex;
	align-items: flex-end;
}
.posts__change .newpost__form-submit{
	width: 40px;
	padding: 5px 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.sub_formedit {
	cursor: pointer;
	background: #eca34c;
	border: none;
	width: 40px;
	height: 28px;
	margin-left: 488px;
}
.sub_formdelete {
	cursor: pointer;
	background: #eca34c;
	border: none;
	width: 40px;
	height: 28px;
	margin-right: 30px;
	margin-left: 10px;
}
.posts_comments .posts__post {
	margin-top: 10px;
	margin-left: 30px;
	border: none;
}
.posts_comments .posts__postcolor {
	margin-top: 10px;
	margin-left: 30px;
	border: none;
	background: #e8ad493b;
}
.posts_comments .posts__header {
	width: 533px;
	font-size: 16px;
}
.posts_comments .posts__content {
	font-size: 14px;
}
.posts_comments .newpost {
	border: none;
	margin-left: 30px;
	margin-top: 10px;
	background: #e8ad493b;
}
.posts_comments .newpost__form-content {
	width: 523px;
	height: 100px;
}
.registerboard {
	width: 240px;
	margin: 0 auto;
}
.registerblock {
	border: 1px #ca7818 solid;
}
.registerblock__form {
	padding: 10px;
}
.registerblock__input {
	margin-bottom: 10px;
}
.link {
	display: inline-flex;
	width: 100%;
	justify-content: center;
}
.pages {
	padding: 5px 5px;
	margin-right: 10px;
	border: 1px #ca7818 solid;
}